.banner{
    width: 100%;
    height: 88vh;
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    display: flex;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 35vh;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
